container {

}
.card {
   width: 16rem;
   height: 320px;
   border-radius: 15px;
   box: shadow 0 1px 2px rgba(0.0.0.0.2)
   overflow: hidden;
}

.card img {
    width: 100%;
    height: 200px;
    display: block;
    background-color: gray;
}
 

         .btn-grad {background-image: linear-gradient(to right, #000000 0%, #e74c3c  51%, #000000  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         